{% extends 'base.html' %}
{% block title %}Admin{% endblock title %}
{% block body %}

{% if regis %}

<center><h1>Add Blog</h1></center>
<br><hr>
<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-6"> <!-- You can reduce this to col-md-3 for narrower -->
      <p>Hii {{regis.name}}</p>
      <p>email: {{regis.email}}</p>
      <p><a href="/logout" type="button" class="btn btn-outline-danger">Logout</a></p>
      
      <form action="/admin" method="POST">
    <div class=" mb-3">
      <label for="blog-title" class="form-label">Blog Title</label>
      <input type="text" name="title" class="form-control" id="blog-title" placeholder="Enter Heading for Blog">
    </div>
    <div class="mb-3">
      <label for="Blog-Content" class="form-label">Blog-Content</label>
      <textarea name="content" class="form-control" id="Blog-Content" rows="3" placeholder="Enter Content"></textarea>
    </div>
      <div class=" mb-3">
        <button type="submit" class="btn btn-outline-info">Add Blog</button>
        <a href="/admin/products" type="button" class="btn btn-outline-success">Edit Products</a>
      </div>
    
    </form>
  </div>
  </div>
  </div>

  <hr><br><br>

  <center><h1>All Blogs</h1></center>

  <br><hr><br>

  <div class="row">
    {% if blog|length == 0 %}

    <div class="alert alert-danger" role="alert">
      There is no Blog added yet, Add now!!!
    </div>

    {% else %}
    {% for blogs in blog %}
      <div class="col-md-3 mb-3">
        <div class="card text-bg-secondary h-100">
          <img src="static\Shri-Ram-Darbar.webp" class="card-img-top" alt="Blog Image">
          <div class="card-body">
            <h5 class="card-title">{{ blogs.title }}</h5>
            <p class="card-text">{{ blogs.content[:70] + '.....' }}</p>
            <a href="/edit/{{blogs.title}}" class="btn btn-outline-info">Edit</a>
            <a href="/delete/{{blogs.title}}" class="btn btn-outline-danger">Delete</a>
          </div>
        </div>
      </div>
    {% endfor %}
    {% endif %}
  </div>

  {% else %}

  <div class="alert alert-danger" role="alert">
    This page is not authorirized for you, Please leave this page or login
  </div>

  {% endif %}

{% endblock body %}